<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <h4>Register</h4>
            <form method="POST" action="/home/register">
                <input type="text" name="firstName" placeholder="First Name" class="form-control" />
                <br />
                <input type="text" name="lastName" placeholder="Last Name" class="form-control" />
                <br />
                <input type="text" name="email" placeholder="Email" class="form-control" />
                <br />
                <input type="text" name="passwordhash" placeholder="Password" class="form-control" />
                <br />
                <button class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>

